on:
  push:
    branches:
      - master
  schedule:
    - cron: "0 0 * * *"

permissions:
  contents: read
  packages: write

jobs:
  deploy:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        php_version:
          - "8.2"
          - "8.3"
          - "8.4"
          - "8.5"
    steps:
      - uses: actions/checkout@v4
      - uses: docker/setup-buildx-action@v3
      - uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: atomicptr
          password: ${{ secrets.GITHUB_TOKEN }}
      - uses: docker/build-push-action@v5
        with:
          context: .
          file: ./Dockerfile
          build-args: |
            PHP_VERSION=${{ matrix.php_version }}
          platforms: >-
            linux/amd64,
            linux/arm64
          push: true
          tags: |
            ghcr.io/atomicptr/boxed-php:${{ matrix.php_version }}
